/* ICONS FONTS*/

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff2") format('woff'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}



i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.23em;
  height: 0.9em;
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i.icon:before {
  background: none !important;
}


/* ICONS FONTS*/

/***********************************************************************************************/

/*index page css*/
.teacher , .student{
	border:1px solid black;
	display:inline-block;
}
/*index page css ends*/

/***********************************************************************************************/

/*student_login page css*/
	.ui.form{
	width : 35%;
	margin-left: auto;
	margin-right: auto;}
/*student_login page css ends*/

/***********************************************************************************************/

/*submission page css*/
form#submit{
width:50%;
margin-left:auto;
margin-right:auto;
}
/*submission page css ends*/

/***********************************************************************************************/